@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  background-color: #1A1410;
  color: #F2E8DC;
}

html {
  max-width: 1920px;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #C4956A;
  color: #1A1410;
}
